.Header {
  position: relative;
  width: 100%;
  height: 51px;
  background: var(--g-color-base-brand);
  font-weight: 700;
  font-size: 14px;

  --g-color-text-link: #181818;
  --g-color-text-link-hover: #5e3800;
}
