@import "@/app/styles/variables";

@include responsive($min, $breakpoint_lg) {
	.Horizontal {
		.NavLinks {
			display: flex;
		}
		.ListMenuButton {
			display: none !important;
		}
		.NavLinkButtons {
			display: flex !important;
		}
	}
}

@include responsive($max, $breakpoint_lg) {
	.Horizontal {
		.NavLinks {
			display: none;
		}
		.ListMenuButton {
			display: flex;
		}
		.NavLinkButtons {
			display: none !important;
		}
	}

	.Vertical {
		.NavLinks {
			display: block;
			height: 100%;
			flex-direction: column;
			padding: 35px 0;
			margin-left: 0 !important;
			li {
				margin-top: 20px;
			}
		}
		.ListMenuButton {
			display: none !important;
		}
	}
}
